<section class="advantages">
  <div class="container">
    <h2 class="visually-hidden">advantages</h2>
    <ul class="advantages-list">
      <li class="advantages-item wow animate__bounceInLeft" data-wow-duration="1.5s">
        <div class="advantages-block  advantages-svg-man">
        <h3 class="advantages-title">
          Адаптированная авторская программа ВНО
        </h3>
        </div>
      </li>
      <li class="advantages-item wow animate__bounceInDown" data-wow-duration="1.5s">
        <div class="advantages-block advantages-svg-phone"  >
        <h3 class="advantages-title">
          Современные методики обучения
        </h3>
      </div>
      </li>
      <li class="advantages-item wow animate__bounceInRight" data-wow-duration="1.5s">
        <div class="advantages-block  advantages-svg-dollar" >
        <h3 class="advantages-title">
          Финансовая гарантия результата
        </h3>
      </div>
      </li>
    </ul>
  </div>
</section>
