<section class="advantages">
  <div class="container">
    <ul class="advantages-list">
      <li class="advantages-item advantages-svg-man wow animate__bounceInLeft" data-wow-duration="1.5s">
        <h2 class="advantages-title">
          Адаптированная авторская программа ВНО
        </h2>
      </li>
      <li class="advantages-item  advantages-svg-phone wow animate__bounceInDown" data-wow-duration="1.5s">
        <h2 class="advantages-title">
          Современные методики обучения
        </h2>
      </li>
      <li class="advantages-item advantages-svg-dollar wow animate__bounceInRight" data-wow-duration="1.5s">
        <h2 class="advantages-title">
          Финансовая гарантия результата
        </h2>
      </li>
    </ul>
  </div>
</section>
