<footer>
  <div class="footer-form-bg-container" id="contacts">
    <div class="container footer-form-container">
      <b
        class="footer-main-text wow animate__bounceInDown"
        data-wow-duration="2s"
        >Регистрация на <span class="footer-span">бесплатную</span> телефонную
        <span class="footer-span">консультацию</span> по нюансам ЗНО по
        английскому языку</b
      >
      <p
        class="footer-secondary-text wow animate__bounceInUp"
        data-wow-duration="2s"
      >
        Оставь заявку на участие в
        <span class="footer-span">бесплатном занятии.</span><br />С вами
        свяжется консультант и ответит на вопросы
      </p>
      <form class="footer-form">
        <input
          class="footer-form-input wow animate__rollIn"
          data-wow-duration="1s"
          type="text"
          name="name"
          placeholder="Имя*"
        />
        <input
          class="footer-form-input wow animate__rollIn"
          data-wow-duration="1s"
          type="tel"
          name="tel"
          placeholder="Телефон*"
        />
      </form>
      <button
        type="submit"
        class="button footer-button wow animate__rollIn"
        data-wow-duration="1s"
      >
        Хочу на бесплатное занятие
      </button>
    </div>
  </div>
  <div class="footer-logo-bg-container">
    <div class="container footer-logo-container">
      <a class="logo footer-logo" href="">
        <svg
          class="footer-logo-icon wow animate__rollIn"
          data-wow-duration="1.5s"
        >
          <use href="./images/icons/sprite.svg#logo-icon"></use>
        </svg>
      </a>
      <div class="tel-inst-container">
        <a
          href="tel:+380000000000"
          class="link tel footer-tel wow animate__pulse"
          data-wow-duration="1.5s"
        >
          <svg class="phone-icon wow animate__rollIn" data-wow-duration="1.5s">
            <use href="./images/icons/sprite.svg#phone-icon"></use></svg
          >+38 (000) 000 00 00</a
        >
        <a
          class="link instagram-link"
          href="https://www.instagram.com/"
          target="_blank"
        >
          <img
            class="wow animate__rollIn"
            data-wow-duration="1.5s"
            src="./images/icons/instagram-icon.svg"
            alt="Иконка Инстаграм"
            width="40"
          />
        </a>
      </div>
    </div>
  </div>
  <div class="footer-copyright-bg-container">
    <div class="container footer-copyright-container">
      <p class="copyright wow animate__pulse" data-wow-duration="1.5s">
        &copy; Все права защищены, 2019
      </p>
    </div>
  </div>
</footer>
