<header class="header" data-header-menu>
    <div class="container">
    <nav class="header-nav">
            <a class="header-logo" href="/index.html">
                <svg class="header-logo-icon" width="80" height="29">
                    <use href="./images/icons/sprite.svg#logo-icon"></use>
                </svg>
            </a>
                <ul class="list">
                    <li class="item">
                        <a href="#our-program" class="link">Программа обучения</a>
                    </li>
                    <li class="item">
                        <a href="#about-us" class="link">О нас</a>
                    </li>
                    <li class="item">
                        <a href="#how-we-do" class="link">Варианты обучения</a>
                    </li>
                    <li class="item">
                        <a href="#contacts" class="link">Контакты</a>
                    </li>
                </ul>
                <a class="consultation-call" href="tel:+380000000000">Консультация по телефону</a>
            <button class="burger-button hamburger hamburger--emphatic wow animate__bounceInRight" data-wow-duration="1.5s" type="button" data-menu-button data-burger-button>
                <span class=" hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </button>       
    </nav>
    </div>
    
</header>
<div class="menu-burger" data-menu>
    <div class="container">
        <ul class="list">
            <li class="item wow animate__bounceInDown" data-wow-duration="2.5s">
                <a href="#our-program" class="link">Программа обучения</a>
            </li>
            <li class="item wow animate__bounceInDown" data-wow-duration="2s">
                <a href="#about-us" class="link">О нас</a>
            </li>
            <li class="item wow animate__bounceInDown" data-wow-duration="1.5s">
                <a href="#how-we-do" class="link">Варианты обучения</a>
            </li>
            <li class="item wow animate__bounceInDown" data-wow-duration="1s">
                <a href="#contacts" class="link">Контакты</a>
            </li>
        </ul>
        <a class="consultation-call wow animate__bounceInUp" data-wow-duration="3s" href="tel:+380000000000">Консультация по телефону</a>
    </div>
</div>