<div data-modal class="backdrop is-hidden">
    <form class="modal-form">
        <h2 class="form-title">Оставить заявку на участие в <span class="orange">бесплатном занятии</span> по английскому языку</h2>
        <div class="form-field">
            <label class="form-label" for="name">
                <input class="form-input" type="text" name="name" id="name" placeholder="Имя*" pattern="[A-Za-zА-Яа-яЁё]+$" required>
            </label>
        </div>
        <div class="form-field">
            <label class="form-label" for="pfone">
                
                <input class="form-input" type="tel" name="pfone" id="pfone" placeholder="Телефон*" pattern="\+38[0-9]{10}|38[0-9]{10}|[0-9]{10}" required>
            </label>
        </div>
        <!-- <div class="form-field">
            <label class="form-label" for="mail">
                
                <input class="form-input" type="email" name="mail" id="mail" placeholder="Электронная почта*" required>
            </label>
        </div> -->
            <label class="checkbox-label" for="agreements">
            <input class="form-checkbox visually-hidden" type="checkbox" name="agreements" id="agreements" required checked>
            <span class="checkbox-icon"></span>
            Соглашаюсь на обработку
            <a href="https://zakon.rada.gov.ua/laws/show/2297-17#Text" target="_blank" rel="noopener noreferer">Персональны данных</a>

        </label>


        <button class="form-button" type="submit">хочу на бесплатное занятие</button>
        <button type="button" class="modal-button" data-modal-close>X
            <!-- <svg class="close-logo" width="15" height="15">
                <use href="./images/icons/icon-cross.svg"></use>
            </svg> -->
        </button>
      </form>
    </div>
  </div>
</div>
