<section class="we-garant-section">
  <div class="container">
    <h2
      class="we-garant-section-header wow animate__bounceInDown"
      data-wow-duration="2s"
    >
      Мы гарантируем
    </h2>
    <div class="we-garant-div">
      <ul class="we-garant-section-list">
        <li
          class="we-garant-item wow animate__bounceInUp"
          data-wow-duration="1s"
        >
          Ты сдашь ВНО минимум на 25 баллов лучше, чем на первом пробном
          тестировании. Иначе мы вернем деньги. <span>*</span>
        </li>
        <li
          class="we-garant-item wow animate__bounceInUp"
          data-wow-duration="1.5s"
        >
          Ты научишься писать сочинения минимум на 10 баллов из 14.
          <span> В то время как 20% учеников получили за сочинение 0.</span>
        </li>
        <li
          class="we-garant-item wow animate__bounceInUp"
          data-wow-duration="2s"
        >
          Ты будешь заниматься в своем районе. Мы выберем место проведения
          занятий после формирования команд.
        </li>
        <li
          class="we-garant-item wow animate__bounceInUp"
          data-wow-duration="2.5s"
        >
          Команды будут сформированы, исходя из начального уровня учеников. Мы
          учитываем особенности каждого ученика.
        </li>
      </ul>
    </div>
  </div>
</section>
