<section class="why-we">
  <div class="container container-why">
    <div class="container-name">
      <h2 class="section-title wow animate__bounceInDown" data-wow-duration="2s">Почему нас выбирают</h2>
    </div>

    <div class="container-reason">
      <ul class="list-reason">
        <li class="item-reason">Обучение в малых командах</li>
        <li class="item-reason">Визуализированные конспекты</li>
        <li class="item-reason">
          Каждое занятие имеет цель и конкретный результат
        </li>
        <li class="item-reason">Реальные результаты преподавателя</li>
        <li class="item-reason">
          Прогамма курса соответствует требованиям МОН Украины
        </li>
        <li class="item-reason">Набор команд по уровням знаний</li>
      </ul>
    </div>
  </div>
</section>