<section class="section why-we-are-chose-section">
  <div class="container why-we-are-chose-container">
    <h2 class="title why-we-are-chose-title wow animate__bounceInDown" data-wow-duration="2s">Почему нас выбирают</h2>
    <div class="why-we-are-chose-card">
      <ol class="why-we-are-chose-list">
        <li class="wow animate__bounceInLeft" data-wow-duration="1.5s">Обучение в малых командах</li>
        <li class="wow animate__bounceInDown" data-wow-duration="1.5s">Визуализированные конспекты</li>
        <li class="wow animate__bounceInRight" data-wow-duration="1.5s">Каждое занятие имеет цель и конкретный результат</li>
        <li class="wow animate__bounceInLeft" data-wow-duration="1.5s">Ревльные результаты преподавателя</li>
        <li class="wow animate__bounceInUp" data-wow-duration="1.5s">Прогамма курса соответствует требованиям МОН Украины</li>
        <li class="wow animate__bounceInRight" data-wow-duration="1.5s" id="about-us">Набор команд по уровням знаний</li>
      </ol>
    </div>
  </div>
</section>
