.advantages {
  padding-top: 30px;
  padding-bottom: 49.5px;
  @include for-size(tablet){
    padding-top: 50px;
    padding-bottom: 50px;
    @include for-size(desktop){
      padding-top: 96.5px;
      padding-bottom: 130px;
    }
  }

  @include for-size(mobile-only) {
    .advantages-item {
      width: calc((100% - 10px) * 2 / 3);
      margin-left: auto;
    }
  
    .advantages-item:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  
  @include for-size(tablet) {
    .advantages-list {
      display: flex;
      justify-content: center;
    } 
    .advantages-item {
      margin-left: 75px;
      width: calc((100% - 21px * 2) / 3);
    }
    .advantages-item:not(:first-child){
      margin-left: 96px;
    }
    @include for-size(desktop) {
      .advantages-item {
        width: calc(100% - 30px * 2 / 3);
      }
    } 
    }
.advantages-block {
  position: relative;
  display: flex;
  align-items: center;
  height: 60px;
  @include for-size(desktop){
    height: 102px;
  }
}
.advantages-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.43;
  color: $primary-black-color;
  @include for-size(desktop){
    font-size: 20px;
    line-height: 1.64;
  }
}

.advantages-svg-man:before,
.advantages-svg-phone:before,
.advantages-svg-dollar:before {
  position: absolute;
  content: "";
  width: 59px;
  height: 60px;
  left: -70px;

  background-size: contain;

  background-repeat: no-repeat;

  @include for-size(tablet){
    left: -75px;
  }
  @include for-size(desktop){
    width: 100px;
    height: 102px;
  }
}

.advantages-svg-man:before {
  background-image: url(../images/icons/man.svg);
}
.advantages-svg-phone:before {
  background-image: url(../images/icons/phone.svg);
}
.advantages-svg-dollar:before {
  background-image: url(../images/icons/dollar.svg);
}

@include for-size(desktop){
  .advantages-svg-man:before {
    background-image: url(../images/icons/man-desktop.svg);
  }
  .advantages-svg-phone:before {
    background-image: url(../images/icons/phone-desktop.svg);
  }
  .advantages-svg-dollar:before {
    background-image: url(../images/icons/dollar-desktop.svg);
  }
}
}